
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, sans-serif;
      }

      body {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        
      }

      .container {
        width: 600px;
        padding: 40px;

 background-image: url(pic.png);
background-repeat: no-repeat;
        background-size: cover;
        border-radius: 25px;
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
        color: black;
      }

      h1 {
        text-align: center;
        color: black;
        margin-bottom: 30px;
      }

      .mode-buttons {
        display: flex;
        
        gap: 20px;
        margin-bottom: 30px;
      }

      .mode-btn {
        flex: 1;
        padding: 15px;
        border: none;
        border-radius: 15px;
        font-size: 18px;
        font-weight: bold;
        color: white;
        cursor: pointer;
        transition: 0.3s ease;
      }

      .single {
        background: linear-gradient(90deg, #070a0e, #3def2a);
      }

      .two {
        background: linear-gradient(90deg, #070715, #f43f5e);
      }

      .active {
        box-shadow: 0 0 25px rgba(255, 255, 255, 0.4);
        transform: scale(1.05);
      }

      .form-box {
        background: #1e293b;
        padding: 25px;
        border-radius: 20px;
      }

      label {
        color: #94a3b8;
        display: block;
        margin: 15px 0 8px;
      }

      input {
        width: 100%;
        padding: 12px;
        border-radius: 10px;
        border: none;
        background: #0f172a;
        color: white;
        font-size: 16px;
      }

      .start-btn {
        margin-top: 25px;
        width: 100%;
        padding: 15px;
        border-radius: 15px;
        border: none;
        font-size: 18px;
        font-weight: bold;
        background: green;
        color: white;
        cursor: pointer;
        transition: 0.3s;
      }

      .start-btn:hover {
        background: #e7a3a3;
      }
    